@model IEnumerable<GuniPortal.Models.Submission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Assignment.Assignment_Title)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Assignment.Assignment_Discription)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Assignment.Department)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Assignment.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment.Assignment_Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Submission_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Submission_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Submission_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
