@model IEnumerable<GuniPortal.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment_Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment_Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Department_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.EnrollmentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Assignment_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Assignment_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Assignment_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
