@model IEnumerable<GuniPortal.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Thesis List</h1>

<p>

    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus" aria-hidden="true"></i> Add Thesis </a>

</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment_Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
     if(@ViewBag.Student_Id == item.Student_Id.ToString().ToUpper())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment_Discription)
            </td>
            <td>
                <a href="~/Doc/@Html.DisplayFor(modelItem => item.Document)" download>
                   <img src="~/Image/images1.png" title=" @Html.DisplayFor(modelItem => item.Document)"
                   class="img-thumbnail" width="100px"/>
                   </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Department_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.EnrollmentID)
            </td>
            <td>
               @* <a asp-action="Edit" asp-route-id="@item.Assignment_Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Assignment_Id">Details</a> 
@*                <a asp-action="Delete" asp-route-id="@item.Assignment_Id">Delete</a>
*@            </td>
        </tr>
}}
    </tbody>
</table>
